.card
{
    background-color: rgba(0,0,0,0.5)!important;
    border-radius:15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.input-group-text{
    background-color: rgba(0,0,0,0.5)!important;
}

.text-white{
    color:#fff;
}
.text_claro{
    color:#ccc;
    font-weight: 100;
}


.bg-right{
    background-color: none!important;
    background: url('/assets/fondos/4.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: contain;   
}


.bg-left{
    background-color: none!important;
    background: url('/assets/fondos/5.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: contain;   
}

.bg-right2{
    background-color: none!important;
    background: url('/assets/fondos/6.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: contain;   
}
