  
  .p5{
        padding: 40px;
  }

  .plans {
     width: 100%;
     margin: 50px auto;
     overflow: hidden;
  }
    
  .plan {
    width: 100%;
    /*min-height: 700px!important;*/
    padding: 15px 5px;
    text-align: center;
    background: #3D3D3D;
    background-clip: padding-box;
    border: 1px solid rgb(77, 77, 77);
    border-color: rgba(black, .1);
    border-radius: 5px;
  }

  .mt-5{
    margin-top:50px!important;
  }
  
  .plan-title {
    margin-bottom: 12px;
    font-size: 24px;
    color: #36bce6;
  }
  
  .plan-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: #fd935a;
  }
  
  .plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
  }
  
  .plan-features {
    width: 120px;
    margin: 20px auto 15px;
    padding: 0px 0 0 5px;
    border-top: 1px solid #e5ded6;
    text-align: left;
  }
  
  .plan-feature li{
    list-style: none!important;
    line-height: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333;  
  }
  .plan-feature{
    list-style: none!important;
  }
  
  .plan-feature-unit {
    margin-left: 2px;
    font-size: 16px;
  }
  
  .plan-feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
  }
  
  .plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(black, .1);
    background: #fd935c;
    border-bottom: 2px solid #cf7e3b;
    border-color: rgba(black, .15);
    border-radius: 4px;
  
    
  }
  
  .plan-highlight {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 170px;
    border: 4px solid #37bbe6;
  
    
  }
  
  .plan-recommended {
    width: 160px;
    margin: -15px auto 15px;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(black, .05);
    background: #37bbe6;
    border-radius: 0 0 4px 4px;
  }

  .bg-plans{
    background-color: none!important;
    background: url('/assets/fondos/plans.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: contain;   
}

.h400{
  height: 200px!important;
}

