<div class='loader' *ngIf="carga_pagina"> 
    <div class='container_loader'>
        <div class='ring'></div>
        <div class='ring'></div>
        <div class='ring'></div>
        <p>...Cargando...</p>
    </div>
</div>


<!-- cargar contenido -->
<div class="container-fluid" *ngIf="!carga_pagina" id="contenedor_principal">

   <app-nav></app-nav>


   <!-- WELCOME -->
   <div class="row ">
        <div class="col-md-12">
                    <div class="jumbotron">                        
                        <div class="col-md-12 h400 bg-plans"></div>
                                           
                                             
                        <div class="plans row ">

                            <div class="col-md-3 mt-4">
                                <div class="plan  ">
                                    <h3 class="plan-title">PLAN GRATIS</h3>
                                    <p class="plan-price">$ 0</p>
                                    <ul class="plan-features">   
                                      <li class="plan-feature"><span class="plan-feature-name">Calendario de Disponibilidad</span></li>
                                      <li class="plan-feature"><span class="plan-feature-name">Calendario de Temporadas</span></li>
                                      <li class="plan-feature"><span class="plan-feature-name">Control de Tarifas</span></li>
                                      <li class="plan-feature"><span class="plan-feature-name">Cupones de Descuento</span></li>
                                      <li class="plan-feature">1<span class="plan-feature-name"> Salon de eventos</span> </li>
                                      <li class="plan-feature">1<span class="plan-feature-name"> Servicio</span> </li>
                                      <li class="plan-feature">3<span class="plan-feature-name"> Platillos</span> </li>
                                      <li class="plan-feature">1<span class="plan-feature-name"> Imagenes por Producto</span> </li>
                                    </ul>
                                    <button type="button" class="btn-neon btn-smp mt-5">SELECCIONAR</button>
                                </div>
                            </div>
                          
                            <div class="col-md-3  mt-4">
                                <div class="plan ">
                                <p class="plan-recommended">Seleccionado</p>
                                <h3 class="plan-title">PLAN BASICO</h3>
                                <p class="plan-price">$ 149.00 <span class="plan-unit">Por Mes</span></p>
                                <ul class="plan-features">
                                    <li class="plan-feature"><span class="plan-feature-name">Calendario de Disponibilidad</span></li>
                                    <li class="plan-feature"><span class="plan-feature-name">Calendario de Temporadas</span></li>
                                    <li class="plan-feature"><span class="plan-feature-name">Control de Tarifas</span></li>
                                    <li class="plan-feature"><span class="plan-feature-name">Cupones de Descuento</span></li>
                                    <li class="plan-feature">2<span class="plan-feature-name"> Salon de eventos</span> </li>
                                    <li class="plan-feature">4<span class="plan-feature-name"> Servicios</span></li>
                                    <li class="plan-feature">6<span class="plan-feature-name"> Platillos</span></li>
                                    <li class="plan-feature">3<span class="plan-feature-name"> Imagenes por Producto</span></li>
                                </ul>
                                    <button type="button" class="btn-neon btn-smp mt-5">SELECCIONAR</button>
                                </div>
                            </div>

                            <div class="col-md-3 mt-4">
                                <div class="plan ">                               
                                <h3 class="plan-title">PLAN PROFESIONAL</h3>
                                <p class="plan-price">$ 299.00 <span class="plan-unit">Por Mes</span></p>
                                <ul class="plan-features">
                                    <li class="plan-feature"><span class="plan-feature-name">Calendario de Disponibilidad</span></li>
                                    <li class="plan-feature"><span class="plan-feature-name">Calendario de Temporadas</span></li>
                                    <li class="plan-feature"><span class="plan-feature-name">Control de Tarifas</span></li>
                                    <li class="plan-feature"><span class="plan-feature-name">Cupones de Descuento</span></li>
                                    <li class="plan-feature">5<span class="plan-feature-name"> Salon de eventos</span> </li>
                                    <li class="plan-feature">10<span class="plan-feature-name"> Servicios</span></li>
                                    <li class="plan-feature">Ilimitados<span class="plan-feature-name"> Platillos</span></li>
                                    <li class="plan-feature">6<span class="plan-feature-name"> Imagenes por Producto</span></li>
                                    <li class="plan-feature"><span class="plan-feature-name"> Promoción dentro de la Plataforma</span></li>
                                </ul>
                                    <button type="button" class="btn-neon btn-smp mt-5">SELECCIONAR</button>
                                </div>
                            </div>


                            <div class="col-md-3 mt-4">
                                    <div class="plan ">                               
                                    <h3 class="plan-title">PLAN VIP</h3>
                                    <p class="plan-price">$ 350.00 <span class="plan-unit">Por Mes</span></p>
                                    <ul class="plan-features">
                                        <li class="plan-feature"><span class="plan-feature-name">Calendario de Disponibilidad</span></li>
                                        <li class="plan-feature"><span class="plan-feature-name">Calendario de Temporadas</span></li>
                                        <li class="plan-feature"><span class="plan-feature-name">Control de Tarifas</span></li>
                                        <li class="plan-feature"><span class="plan-feature-name">Cupones de Descuento</span></li>
                                        <li class="plan-feature">7<span class="plan-feature-name"> Salon de eventos</span> </li>
                                        <li class="plan-feature">20<span class="plan-feature-name"> Servicios</span></li>
                                        <li class="plan-feature">Ilimitados<span class="plan-feature-name"> Platillos</span></li>
                                        <li class="plan-feature">20<span class="plan-feature-name"> Imagenes por Producto</span></li>
                                        <li class="plan-feature"><span class="plan-feature-name"> Promoción dentro de la Plataforma</span></li>
                                        <li class="plan-feature"><span class="plan-feature-name"> Contabilidad del Negocio</span></li>
                                        <li class="plan-feature"><span class="plan-feature-name"> Marketing Gratuito.</span></li>
                                    </ul>
                                    <button type="button" class="btn-neon btn-smp mt-5">SELECCIONAR</button>
                                </div>
                            </div>

                        


                        </div>
                        
                         

                
                       
                </div>
            </div>   
        </div>
    </div>
