
    <div class='loader' *ngIf="carga_pagina"> 
        <div class='container_loader'>
            <div class='ring'></div>
            <div class='ring'></div>
            <div class='ring'></div>
            <p >...Cargando...</p>
        </div>
    </div>


    <!-- cargar contenido -->
    <div class="container-fluid" *ngIf="!carga_pagina" id="contenedor_principal">

       <app-nav></app-nav>


       <!-- WELCOME -->
       <div class="row mt-5">
            <div class="col-md-6">
                    <div class="jumbotron">
                        <h1 class="display-4">Salones Click</h1>
                        <p class="lead">Hermosos salones, jardines y terrazas de eventos que cuenta con los mejores paquetes, servicios y ubicaciones.</p>
                       
                        <hr class="my-4">   

                        <div class="row pl3">
                         
                            <form class="form-row">
                                <div class="form-group col">
                                    <label for="c_destino" class="sr-only">Destino</label>
                                    <input type="text" class="form-control" id="c_destino" placeholder="Destino">
                                </div>
                                <div class="form-group col">
                                  <label for="c_fecha" class="sr-only">Fecha</label>
                                  <input type="date" class="form-control" id="c_fecha" placeholder="Fecha">
                                </div>
                                <div class="col pt-2">
                                    <a class="btn-neon btn-xs ">BUSCAR</a>
                                </div>                                
                            </form>

                        </div>
                  </div>
            </div>
            <div class="col-md-6 h400 bg-right">
                
            </div>
       </div>


       <!-- WELCOME -->
       <div class="row mt-5">
            <div class="col-md-6 h400 bg-right2">
                
            </div>
            <div class="col-md-6">
                    <div class="jumbotron">
                        <h1 class="display-4">CONVIERTETE EN SOCIO</h1>
                        <p class="lead">
                           Publica tus Propiedades  y Ofrece tus servicios en Linea, 
                           Muestra Fotos del lugar,Capacidades,Instalaciones y Mas.., salones click te dara la promocion necesaria para que puedas
                           llegas a todos los rincones del pais,la facilidad de reserva en Linea y la Protecciòn para tus ventas.
                        </p>
                    
                        <hr class="my-4">   

                        <div class="row pl3">
                            <a class="btn-neon btn-lg"  [routerLink]="['/Plans']" role="button">VAMOS AFILIATE-REVISA LOS PLANES</a>
                        </div>
                </div>
            </div>
        
        </div>




       <!-- Servicios -->
       <div class="row mt-5">
        
            <div class="col-md-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">PARA QUE DISFRUTES ESE DIA ESPECIAL</h1>
                    <p class="lead">
                    Encuentrea el sitio ideal para tu Evento, 
                    disfruta de espacios llenos de un estilo vanguardista, acordes con cualquier tipo de Festejo,
                    Eventos sociales: Cumpleaños, Despedidas de soltero, Fiestas sorpresa, Bodas, Graduaciones, y Mas...<br>
                    Tambien Servicios para tus Eventos: Meseros,Seguridad,Entretenimiento, Mobiliaria y Mas...<br>
                    Encuentralo Aqui en Salones Click.
                    </p>
                </div>
            </div>

            <div class="col-md-6 h400 bg-right3">
                
            </div>
            <div class="col-md-6 h400 bg-right4">
                
            </div>    
        </div>


        <div class="row mt-5">  
            <div class="col-md-12 h400 bg-right5">
                
            </div>    
        </div>





        
          
    </div>
    <!-- FOOTER -->
    <app-footer></app-footer>