@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
--card-height: 65vh;
--card-width: calc(var(--card-height) / 1.5);
}


.card
{
    background-color: rgba(0,0,0,0.5)!important;
    border-radius:15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);    
}

.input-group-text{
    background-color: rgba(0,0,0,0.5)!important;
}

.text-white{
    color:#fff;
}
.text_claro{
    color:#ccc;
    font-weight: 100;
}


.bg-top-dashboard{
    background-color: none!important;
    background: url('/assets/fondos/dashboard.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: contain;   
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.display-5{
    font-weight: 200;
}

.btn-menu{
    min-width: 60px!important;
    height: 40px;
    display: block;
}

.card-body{
    min-height: 220px;
}

/*desde aqui*/
.card-body{
    background-color: none!important;;
}

.card:hover::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card:hover::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6)); 
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}